<div class="container-fluid p-0 bg-image">
  <div class="firstpage" style="
      background-image: url('../assets/images/digital-technology-background-with-abstract-wave-border_53876-117508.avif');
    ">
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand ps-5 pt-5 fw-bolder" href="#">Brainwave </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav pt-5">
            <li class="nav-item">
              <a class="nav-link fw-bold ps-5" aria-current="page" href="#">Demos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold ps-3" href="#">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold ps-3" href="#">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold ps-3" href="#" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section style="height: 100vh">
      <div class="container-fluid p-5">
        <div class="row py-4">
          <div class="main col-lg-7 pt-5 p-5">
            <h5 class="display1 text-danger ps-5">LETS SHIFT YOUR BUSINESS</h5>
            <br />
            <h1 class="display2 ps-5">
              Shift your business <br />fast with Shade Pro.
            </h1>
            <br />
            <p class="ps-5">
              With lots of unique block, you can easily build a page <br />
              without coding.Build your next consultancy within<br />
              few minutes.
            </p>

            <button class="btn btn-primary m-5" style="padding: 10px">
              Get start a project
            </button>
          </div>
          <div class="col-4 ">
            <img class="round"
              src="../assets/images/portrait-confident-saleswoman-working-office-sitting-business-room-reading-writing-down_1258-193622.avif" />
          </div>
        </div>
      </div>
    </section>
  </div>
  <section>
    <div class="container-fluid py-5">
      <div class="row py-3">
        <div class="col-sm text-center">
          <h6 class="display3 text-danger">OUR SERVICES</h6>
          <h2 class="display4 p-5">
            We provide great services for our <br />
            customers based on needs
          </h2>
          <div class="row ps-5">
            <div class="col-10 ">
              <div class="row ">
                <div class="col-sm-3"></div>
                <div class="col-sm-3 ">
                  <div class="card" style="
                      width: 17rem;
                      height: 27rem;
                      background-color: rgb(25, 193, 10);
                    ">
                    <img src="../assets/images/6.webp" class="card-img-top" alt="..." /><br />
                    <div class="card-body">
                      <h5 class="card-title text-light">Graphic Design</h5>
                      <br />
                      <p class="card-text text-light">
                        With lots of unique blokes,you can easly build a page
                        without coding.<br />Build a page without your next
                        landing page.
                      </p>
                      <br /><br />
                      <a href="#" class="display6">Learn more
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 ">
                  <div class="card" style="
                      width: 17rem;
                      height: 27rem;
                      background-color: rgb(78, 217, 245);
                    ">
                    <img
                      src="..\assets\images\happy-man-sitting-desk-front-computer-showing-thumb-up-happy-man-sitting-desk-front-computer-194571276.webp"
                      class="card-img-top1" alt="..." /><br />
                    <div class="card-body">
                      <h5 class="card-title text-light">Web Developer</h5>
                      <br />
                      <p class="card-text text-light">
                        With lots of unique blokes,you can easly build a page
                        without coding.<br />Build a page without your next
                        landing page.
                      </p>
                      <br /><br />
                      <a href="#" class="display6">Learn more
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 ">
                  <div class="card" style="
                      width: 17rem;
                      height: 27rem;
                      background-color: rgba(255, 46, 46, 0.974);
                    ">
                    <img
                      src="..\assets\images\graphics-drawing-silhouette-the-man-standing-on-red-podium-for-with-spotlights-red-background-illustration-free-vector.jpg"
                      class="card-img-top1" alt="..." /><br />
                    <div class="card-body">
                      <h5 class="card-title text-light">Graphic Design</h5>
                      <br />
                      <p class="card-text text-light">
                        With lots of unique blokes,you can easly build a page
                        without coding.<br />Build a page without your next
                        landing page.
                      </p>
                      <br /><br />
                      <a href="#" class="display6">Learn more
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-arrow-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="row pt-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-2 pt-5">
          <img class="image1 m-5" src="..\assets\images\98511ee98a1930b8938e42caf0904d2d.jpg">

        </div>
        <div class="col-sm-5 pt-5">
          <img src="../assets/images/istockphoto-925469766-612x612.jpg" style="height: 40px;"><br>
          <b>"OMG! I cannot beleave that i have got brand new landing page<br>after getting Albino. It was super easy to
            editand publish"</b><br><br>

          <h6>Franklin Hicks</h6>


        </div>

      </div>
      <br><br><br>
      <hr>

    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-9">
          <h6 class="display1 text-danger">OUR STORY</h6>
          <h2 class="display4 pt-5">
            We know how everything works<br>and why your business is failing <br>over and over again.
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 pt-5">
          <img src="..\assets\images\pexels-chloekalaartist-1043474.jpg" class="imagehover" style="width: 350px; border-radius: 20px;">
        </div>
        <div class="col-sm-4 ps-5 pt-3">
          <img
            src="..\assets\images\girl-model-hd-images-free-download-with-wallpaper-product-model-girl-ads-girl-model_88650-3043.avif"
            style="width: 300px; border-radius: 20px;" class="imagehover">
          <div class="row">
            <div class="col-sm"><br><br><br><br>
              <p class="imagehover1">We share common trends and strategies for improving your<br>rental income and making sure you stay in
                high demant. With <br> lost of unique block, you can early build a page without <br>coding.Build your
                landing page</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 py-5"><br>
          <img src="../assets/images/women-model-portrait-looking-at-viewer-wallpaper-preview.jpg"
            style="width: 200px; border-radius: 20px;" class="imagehover">
        </div>
      </div>
      <div class="row py-5">
        <div class="col-sm-2 my-5"></div>
        <div class="col-sm-3 pt-5">
          <div class="card my-5" style="width: 17rem; height: 20rem; border: none;">
            <h1 class="text-center">1M+</h1>
            <p>Coustomers visit Omega every month &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; to get there service done
            </p>
          </div>
        </div>
        <div class="col-sm-3 pt-5">
          <div class="card my-5" style="width: 17rem; height: 20rem; border: none;">
            <h1 class="text-center">92%</h1>
            <p>Satisfation rate comes from our <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; awesome cusotmers</p>
          </div>
        </div>
        <div class="col-sm-3 pt-5">
          <div class="card my-5" style="width: 17rem; height: 20rem; border: none;">
            <h1 class="text-center">4.9/5.0</h1>
            <p>Average customer ratings we have<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; got all over internet</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section style="background-color: rgba(201, 238, 238, 0.455);">
    <div class="row">
      <div class="col-sm-2"> </div>
      <div class="col-sm-9">
        <br><br>
        <h6 class="display1 text-danger text-center pe-5">WHY choose US</h6>
        <h2 class="display4 p-5 text-center">
          People choose us because we <br />
          serve the best for everyone
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col"></div>
        <div class="col">
          <div class="card " style="width: 20rem; height: 10rem; border: none; background-color: transparent;">
           <div class="row">
            <div class="col-sm-3">
              <img src="..\assets\images\3d-icon-social-media-app_23-2150049569.avif" style="width: 60px;">
            </div>
            <div class="col">
              <h6>Dedicated project manager</h6>
              <br>
              <p style="font-size: 13px;">With lots of unique blocks,You can early build a page without coding. Build Your next landing page.</p>
            </div>
             
           </div>
          </div>
        </div>

        <div class="col">
          <div class="card " style="width: 20rem; height: 10rem; border: none; background-color: transparent;">
           <div class="row">
            <div class="col-sm-3">
              <img src="..\assets\images\pngtree-task-icon-for-your-project-png-image_1604032.jpg" style="width: 60px;">
            </div>
            <div class="col">
              <h6>Organized task</h6>
              <br>
              <p style="font-size: 13px;">With lots of unique blocks,You can early build a page without coding. Build Your next landing page.</p>
            </div>
             
           </div>
          </div>
        </div>
        <div class="w-150"></div>
        <div class="col-sm-4"></div>
        <div class="col">
          <div class="card " style="width: 20rem; height: 10rem; border: none; background-color: transparent;">
           <div class="row">
            <div class="col-sm-3">
              <img src="..\assets\images\pngtree-thumb-up-and-thumb-down-vector-on-green-background-png-image_4993315.png" style="width: 60px;">
            </div>
            <div class="col">
              <h6>Easy feedback sharing</h6>
              <br>
              <p style="font-size: 13px;">With lots of unique blocks,You can early build a page without coding. Build Your next landing page.</p>
            </div>
             
           </div>
          </div>
        </div>

        <div class="col">
          <div class="card " style="width: 20rem; height: 10rem; border: none; background-color: transparent;">
           <div class="row">
            <div class="col-sm-3">
              <img src="../assets/images/images.jpeg" style="width: 60px;">
            </div>
            <div class="col">
              <h6>Never miss deadline</h6>
              <br>
              <p style="font-size: 13px;">With lots of unique blocks,You can early build a page without coding. Build Your next landing page.</p>
            </div>
             
           </div>
          </div>
        
        </div>
       
      </div>
    
    </div>
    <br><br>
    <hr>
    <br><br> <br><br> 
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-7">
    <h2 class="display4 ">
     Ready to launch a next project?
    </h2>
    <p >With lots of unique blocks,You can early build a page without coding. Build Your next landing page.</p>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary m-5" style="padding: 10px">
      Get start a project
    </button>
  </div>
</div>
<br><br>
  </section>

  <section>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-sm-9"><br><br><br>
        <h6 class="display1 text-danger text-center ">CASE STUDIES</h6>
          <h2 class="display4 pt-5 text-center">
            Our work discribed why we are<br>the best in the business
          </h2>
         
      </div>
    </div><br><br><br>
    <div class="row">
      <div class="col-sm-3"></div>
     
        <div class="col-sm-4" style="width: 500px;">
          <img src="..\assets\images\pexels-chloekalaartist-1043474.jpg" style="width: 350px; border-radius: 20px;"><br><br>
         <p style="font-size: 13px;">Graphic Designer</p>
         <h4>Aura Branding Design</h4>
         <br><br><br>
         <img
        src="..\assets\images\girl-model-hd-images-free-download-with-wallpaper-product-model-girl-ads-girl-model_88650-3043.avif"
        style="width: 450px; height: 300px; border-radius: 20px;"><br><br><br>
        <p style="font-size: 13px;">Graphic Designer</p>
        <h4>AB.S Snack Packaing</h4>
        </div>
        <div class="col-sm-4">
          <img
        src="..\assets\images\girl-model-hd-images-free-download-with-wallpaper-product-model-girl-ads-girl-model_88650-3043.avif"
        style="width: 450px; height: 300px; border-radius: 20px;"><br><br><br>
        <p style="font-size: 13px;">Graphic Designer</p>
        <h4>AB.S Snack Packaing</h4>
        <br><br><br>
        <img src="..\assets\images\pexels-chloekalaartist-1043474.jpg" style="width: 350px; border-radius: 20px;"><br><br>
         <p style="font-size: 13px;">Graphic Designer</p>
         <h4>Aura Branding Design</h4>
        </div>

        <a href="#" class="display7 text-center"><br><br><br><br><br>See all tasks
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
          </svg>
        </a>
    </div><br><br>
  </section>
  <section>
    <div class="container-fluid">
      <div class="pagesix text-center py-5"style="background-image: url('../assets/images/gradient-blue-background_23-2149337037.avif'); height: 70vh;">
        <h6 class="display1 text-success text-center py-5"><br><br><br><br><br>CASE STUDIES</h6>
        <b class="text-light py-5">"OMG! I cannot beleave that i have got brand new landing page<br>after getting Albino. It was super easy to
          editand publish"</b><br><br>    <br>  

          <img class="image1 " src="..\assets\images\98511ee98a1930b8938e42caf0904d2d.jpg">
          <h6 class="text-light">lan klein</h6>
          <p class="text-light">Degitgal Marketer</p>
      </div>
      
    </div>
  </section>
  <section>
    <div class="container-fluid " style="background-color: rgb(3, 3, 39);">
      <div class="row">
        <div class="col-sm-2 "></div>
        <div class="col-sm-8 py-5 ">
          <h2 class="display8 "><br><br><br>
           Ready to launch a next project?
          </h2>
          <p style="color: white;">With lots of unique blocks,You can early build a page without coding. Build Your next landing page.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;   <button class="btn btn-primary " style="padding: 10px">
            Get start a project
          </button>    </p><br><br><br><br>
          <hr style="background-color: white;">
        </div>
        <div class="col-sm-1 py-5"><br><br><br><br><br><br><br>
          
        </div>
      </div>
      <div class="row" rowspan="2">
        <div class="col-sm-2"></div>
        <div class="col-sm-9 text-light">
          <table class="table text-light"  >
            <thead>
              <tr style="border: none;">
               <th style="border: none;"><h1 >Brainwave</h1></th>
               <td style="border: none;"><p>Company</p></td>
               <td style="border: none;"><p>Product</p></td>
               <td style="border: none;"><p>Service</p></td>
               <td style="border: none;"><p>Legal</p></td>
              </tr>
            </thead>
            <tbody>
              <tr style="border: none;">
                <td style="border: none;" > <p class=" text-light" style="font-size: 15px;">
                  With lots of unique blokes,you can <br>easly build a page
                  without coding.<br />Build a page without your next
                  landing page.
                </p></td>
                <td style="border: none;">About Us</td>
                <td style="border: none;">Features</td>
                <td style="border: none;">Degital Marketing</td>
                <td style="border: none;">Privacy Policy</td>
              </tr>
              <tr>
                <td style="border: none;" scope="row"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook " viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                </svg></td>
                <td style="border: none;">Contact Us</td>
                <td style="border: none;">Pricing</td>
                <td style="border: none;">Content writing</td>
                <td style="border: none;">tearms&condition</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td >Carees</td>
                <td>News</td>
                <td>SEO for business</td>
                <td>Return Policy</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>